html,
body,
#app {
  height: 100%;
}

body {
  @include typo($line-height: 1.2, $font-family: var(--font-family));
  overflow: hidden;
  overflow-wrap: break-word;
  background-color: var(--color-gray-250);
  color: var(--color-gray-750) !important;
  text-size-adjust: none;
}

.layout {
  @apply flex flex-col;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.wrapper {
  @apply flex;
  flex: 1 1 0%;
  min-height: 0px;
}

.content {
  overflow: auto;
  width: 100%;
  min-height: 100vh;
}
