// Layout
:root {
  --layout-min-width: 1280px;

  --header-height: 80px;
  --header-bg-color: var(--color-white);

  --gnb-height: 52px;
  --gnb-bg-color: var(--color-blue-800);
  --gnb-menu-width: 184px;

  --sidebar-size: 112px;
  --sidebar-bg-color: var(--color-blue-700);

  --scrollbar-width: 20px;
}

// Typography
$font-size-map: (
  24: 24px,
  20: 20px,
  16: 16px,
  14: 14px,
  12: 12px,
  11: 11px
);
:root {
  @each $key, $value in $font-size-map {
    --font-size-#{$key}: #{$value};
  }
}

//Color
:root {
  //Primary
  --color-primary-800: #ec008b;

  //GrayScale
  --color-gray-700: #010101;
  --color-gray-600: #333333;
  --color-gray-500: #555555;
  --color-gray-400: #666666;
  --color-gray-300: #999999;
  --color-gray-200: #cccccc;
  --color-gray-100: #e8ebed;
  --color-gray-50: #f9f9f9;

  // TODO :: 임시 추가. 컬러 번호 변경 가능성 있음
  --color-blue-800: #3f4255;
  --color-blue-700: #5a5e77;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-red: #f42d1a;
  --color-yellow: #fdba2e;
  --color-green: #93c752;
}

// Form
:root {
  // --form-height-sm: 32px;
  --form-height-md: 40px;
  // --form-height-lg: 40px;

  // --radius-sm: 2px;
  --radius-sm: 8px;
  --radius-md: 21px;
  --radius-lg: 24px;
  // --radius-lg: 20px;
  --radius-xl: 30px;

  --form-radius: var(--radius-sm);
  --form-color: var(--color-gray-600);
  --form-border-color: var(--color-gray-200);
  --form-placeholder-color: var(--color-gray-200);
  --form-focus-border-color: var(--color-gray-600);
  --form-disabled-color: var(--color-gray-200);
  --form-disabled-border-color: var(--color-gray-200);
  --form-disabled-bg-color: var(--color-gray-50);
  --form-readonly-bg-color: var(--color-gray-50);
  --form-validation-color: var(--color-red);
  --form-active-color: var(--color-primary-800);

  // --selector-size: 20px;
}

$textfield-size: (
  sm: var(--form-height-sm),
  md: var(--form-height-md),
  lg: var(--form-height-lg)
);

// Modal
:root {
  // --modal-width-sm: 360px;
  // --modal-width-md: 600px;
  // --modal-width-lg: 820px;
  // --modal-width-xl: 1400px;
}

// ETC
:root {
  --transition: all 0.15s linear;
  --font-family: 'Pretendard', -apple-system, system-ui, Roboto, 'Apple SD Gothic Neo',
    'Malgun Gothic', sans-serif;
}
