// Layout
:root {
  --layout-min-width: 1280px;
  --header-height: 70px;
  --sidebar-width: 280px;
  --scrollbar-width: 20px;
}

// Typography
$font-size-map: (
  24: 24px,
  20: 20px,
  16: 16px,
  14: 14px,
  12: 12px,
  11: 11px
);
:root {
  @each $key, $value in $font-size-map {
    --font-size-#{$key}: #{$value};
  }
}

//Color
:root {
  //Primary
  --color-primary-800: #ec008b;

  //GrayScale
  --color-gray-700: #010101;
  --color-gray-600: #333333;
  --color-gray-500: #555555;
  --color-gray-400: #666666;
  --color-gray-300: #999999;
  --color-gray-200: #cccccc;
  --color-gray-100: #e8ebed;
  --color-gray-50: #f9f9f9;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-red: #f42d1a;
  --color-yellow: #fdba2e;
  --color-green: #93c752;
}

// Form
:root {
  // --form-height-sm: 32px;
  --form-height-md: 40px;
  // --form-height-lg: 40px;

  // --radius-sm: 2px;
  --radius-md: 8px;
  // --radius-lg: 20px;

  --textfield-radius: var(--radius-md);
  --textfield-color: var(--color-gray-600);
  --textfield-border-color: var(--color-gray-200);
  --textfield-placeholder-color: var(--color-gray-200);
  --textfield-focus-border-color: var(--color-gray-600);
  --textfield-disabled-color: var(--color-gray-200);
  --textfield-disabled-border-color: var(--color-gray-200);
  --textfield-disabled-bg-color: var(--color-gray-50);
  --textfield-readonly-bg-color: var(--color-gray-50);
  --textfield-validation-color: var(--color-red);
  --textfield-active-color: var(--color-primary-800);

  // --selector-size: 20px;
}

$textfield-size: (
  sm: var(--form-height-sm),
  md: var(--form-height-md),
  lg: var(--form-height-lg)
);

// Modal
:root {
  // --modal-width-sm: 360px;
  // --modal-width-md: 600px;
  // --modal-width-lg: 820px;
  // --modal-width-xl: 1400px;
}

// ETC
:root {
  --transition: all 0.2s linear;
  --font-family: 'Pretendard', -apple-system, system-ui, Roboto, 'Apple SD Gothic Neo',
    'Malgun Gothic', sans-serif;
}
