/* ========================== Variables ========================== */
.el-date-editor {
  --el-input-border: 1px solid var(--textfield-border-color) !important;
  --el-input-hover-border: var(--textfield-border-color) !important;
  --el-input-border-color: var(--textfield-border-color) !important;
  --el-input-focus-border: var(--textfield-focus-border-color) !important;
  --el-input-border-radius: var(--textfield-radius) !important;
  --el-border-radius-base: var(--textfield-radius) !important;
  --el-input-placeholder-color: var(--textfield-placeholder-color) !important;
  --el-input-hover-border-color: var(--textfield-border-color) !important;
  --el-input-focus-border-color: var(--textfield-focus-border-color) !important;
  --el-disabled-bg-color: var(--textfield-disabled-bg-color) !important;
  --el-disabled-border-color: var(--textfield-disabled-border-color) !important;
  --el-disabled-text-color: var(--textfield-disabled-color) !important;
}
.el-date-range-picker {
  --el-color-primary: var(--textfield-active-color) !important;
  --el-datepicker-off-text-color: var(--textfield-disabled-color) !important;
  --el-datepicker-inner-border-color: var(--textfield-border-color) !important;
  --el-datepicker-active-color: var(--color-primary-700) !important;
  --el-datepicker-hover-text-color: var(--textfield-active-color) !important;
  --el-datepicker-inrange-bg-color: var(--color-primary-700) !important;
  --el-datepicker-inrange-hover-bg-color: var(--color-primary-700) !important;
}
/* ========================== Mixins ========================== */

/* ========================== Styles ========================== */
.el-date-editor {
  &.el-range-editor {
    height: var(--form-height-md) !important;
    padding: 0 15px !important;

    .el-icon {
      svg {
        display: none;
      }
      &.el-range__icon {
        @include before(16px, 16px) {
          @include icon(calendar__line--b3b);
        }
      }
    }
    .el-range {
      &-input:not(:disabled),
      &-separator {
        @include typo($color: var(--color-gray-700));
      }
    }
  }
  &.is-readonly {
    background-color: var(--textfield-disabled-bg-color);
  }
}
.el-picker__popper {
  @include typo(var(--font-size-12), 600);
  border: 1px solid var(--textfield-border-color) !important;
  border-radius: var(--radius-sm) !important;
  box-shadow: none !important;
  .el-popper__arrow:before {
    content: none;
  }
  .el-picker-panel {
    @include typo($color: var(--color-gray-750));
    border-radius: var(--radius-sm);
    &__icon-btn {
      @include typo(var(--font-size-16), $color: var(--color-gray-700));
      width: 40px;
      height: 40px;
      margin-top: 0;
      @include before {
        top: 0;
        left: 50%;
        transform: translate(-50%);
      }

      &.d-arrow-left,
      &.d-arrow-right {
        @include before(26px, 40px) {
          @include icon(d-arrow-l__line--444);
        }
      }
      &.arrow-left,
      &.arrow-right {
        @include before(18px, 40px) {
          @include icon(arrow-l__line--444);
        }
      }
      &.d-arrow-right,
      &.arrow-right {
        transform: rotate(180deg);
      }
      .el-icon {
        display: none;
      }
    }
  }
  .el-date-range-picker {
    &__content {
      padding: 0;
    }
    &__header {
      height: 40px;
      > div {
        @apply flex items-center justify-center;
        @include typo(var(--font-size-15), 600);
        height: 100%;
        margin-left: 80px;
        margin-right: 80px;
      }
    }
  }
  .el-date-table {
    th {
      @include typo(var(--font-size-10), 500, var(--color-gray-700));
      padding: 0;
      border-bottom: 0;
    }
    &__row {
      td {
        max-width: 42px;
        height: 42px;
        padding: 6px 0;
        &.in-range,
        &.start-date {
          .el-date-table-cell {
            @include typo(var(--font-size-12), 600, var(--textfield-active-color));
          }
        }
        &.today {
          .el-date-table-cell__text {
            @include typo(var(--font-size-12), 600, $color: var(--color-white));
            width: 30px;
            background-color: var(--textfield-active-color);
          }
        }
      }
    }
    &-cell {
      padding: 0 !important;
      &__text {
        height: 30px !important;
        line-height: 30px !important;
      }
    }
  }
}
