/* ========================== Variables ========================== */
/* ========================== Mixins ========================== */
@mixin selector-base($type) {
  .el-#{$type}__input {
    &.is-checked {
      .el-#{$type}__inner {
        &::after {
          @if ($type == checkbox) {
            left: 6px;
            height: 10px;
            width: 4px;
            border-width: 2px;
          }
          @if ($type == radio) {
            width: 9px;
            height: 9px;
            background-color: var(--textfield-active-color);
          }
        }
      }
    }
    @if ($type == checkbox) {
      &.is-indeterminate {
        .el-checkbox__inner {
          &::before {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
  .el-#{$type}__inner {
    width: var(--selector-size);
    height: var(--selector-size);
  }
}
@mixin selector-color($type) {
  .el-#{$type}__input {
    &.is-checked {
      .el-#{$type}__inner {
        border-color: var(--textfield-active-color);
        @if ($type == checkbox) {
          background-color: var(--textfield-active-color);
        }
        @if ($type == radio) {
          background-color: var(--color-white);
        }
      }
    }
    &.is-disabled {
      .el-#{$type}__inner {
        background-color: var(--textfield-disabled-bg-color);
        border-color: var(--textfield-disabled-border-color);
        &::after {
          background-color: var(--textfield-disabled-bg-color);
        }
      }
      & + .el-#{$type}__label {
        @include typo($font-weight: 500, $color: var(--color-gray-750));
      }
    }
    &.is-disabled.is-checked {
      .el-#{$type}__inner {
        @if ($type == checkbox) {
          background-color: var(--textfield-disabled-bg-color);
          border-color: var(--textfield-disabled-border-color);
          &::after {
            border-color: var(--textfield-disabled-border-color);
          }
        }
        @if ($type == radio) {
          &::after {
            background-color: var(--textfield-disabled-border-color);
          }
        }
      }
    }

    @if ($type == checkbox) {
      &.is-indeterminate {
        .el-checkbox__inner {
          background-color: var(--textfield-active-color);
          border-color: var(--textfield-active-color);
        }
      }
    }
  }

  .el-#{$type}__inner {
    border: 1px solid var(--textfield-border-color);
    &:hover {
      border-color: var(--textfield-border-color);
    }
  }

  .el-#{$type}__label {
    @include typo($font-weight: 500);
    padding-left: 10px;
    color: var(--color-gray-750) !important;
  }
}
/* ========================== Styles ========================== */
// Checkbox
.el-checkbox {
  @include selector-base(checkbox);
  @include selector-color(checkbox);
  &-group {
    width: var(--selector-size);
  }
}

// Radio
.el-radio {
  @include selector-base(radio);
  @include selector-color(radio);
}

//switch
.el-switch {
  width: 42px;
  height: 24px;
  &.is-checked {
    .el-switch__input {
      & + .el-switch__core {
        background-color: var(--color-primary-800);
        border-color: var(--color-primary-800);
      }
    }
  }
}
