/* ========================== Variables ========================== */
//switch
.el-switch {
  --el-switch-on-color: var(--form-active-color) !important;
  --el-switch-off-color: #9ea4aa !important;
  --el-switch-height: 24px;
}
/* ========================== Mixins ========================== */
@mixin selector-base($type) {
  .el-#{$type}__input {
    &.is-checked {
      .el-#{$type}__inner {
        &::after {
          @if ($type == checkbox) {
            left: 6px;
            height: 10px;
            width: 4px;
            border-width: 2px;
          }
          @if ($type == radio) {
            width: 9px;
            height: 9px;
            background-color: var(--form-active-color);
          }
        }
      }
    }
    @if ($type == checkbox) {
      &.is-indeterminate {
        .el-checkbox__inner {
          &::before {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
  .el-#{$type}__inner {
    width: var(--selector-size);
    height: var(--selector-size);
  }
}
@mixin selector-color($type) {
  .el-#{$type}__input {
    &.is-checked {
      .el-#{$type}__inner {
        border-color: var(--form-active-color);
        @if ($type == checkbox) {
          background-color: var(--form-active-color);
        }
        @if ($type == radio) {
          background-color: var(--color-white);
        }
      }
    }
    &.is-disabled {
      .el-#{$type}__inner {
        background-color: var(--form-disabled-bg-color);
        border-color: var(--form-disabled-border-color);
        &::after {
          background-color: var(--form-disabled-bg-color);
        }
      }
      & + .el-#{$type}__label {
        @include typo($font-weight: 500, $color: var(--color-gray-750));
      }
    }
    &.is-disabled.is-checked {
      .el-#{$type}__inner {
        @if ($type == checkbox) {
          background-color: var(--form-disabled-bg-color);
          border-color: var(--form-disabled-border-color);
          &::after {
            border-color: var(--form-disabled-border-color);
          }
        }
        @if ($type == radio) {
          &::after {
            background-color: var(--form-disabled-border-color);
          }
        }
      }
    }

    @if ($type == checkbox) {
      &.is-indeterminate {
        .el-checkbox__inner {
          background-color: var(--form-active-color);
          border-color: var(--form-active-color);
        }
      }
    }
  }

  .el-#{$type}__inner {
    border: 1px solid var(--form-border-color);
    &:hover {
      border-color: var(--form-border-color);
    }
  }

  .el-#{$type}__label {
    @include typo($font-weight: 500);
    padding-left: 10px;
    color: var(--color-gray-750) !important;
  }
}
/* ========================== Styles ========================== */
// Checkbox
.el-checkbox {
  @include selector-base(checkbox);
  @include selector-color(checkbox);
  &-group {
    width: var(--selector-size);
  }
}

// Radio
.el-radio {
  @include selector-base(radio);
  @include selector-color(radio);
}

//switch
.el-switch {
  height: var(--el-switch-height) !important;
  .el-switch__core {
    min-width: 42px;
    height: var(--el-switch-height);
    box-sizing: border-box;
    border: 0;
    border-radius: 50px;
    box-shadow: 1px 1px 4px 0px #0000000d inset;
    .el-switch__action {
      left: 2px;
      width: 20px;
      height: 20px;
      box-shadow: 0px 1px 6px 0px #0000003d;
    }
  }
  &.is-checked {
    .el-switch__input {
      & + .el-switch__core {
        .el-switch__action {
          left: calc(100% - 22px);
        }
      }
    }
  }
  &.is-disabled {
    opacity: 0.3 !important;
  }
}

// filter
.el-radio-group {
  width: fit-content;
  padding: 2px;
  background: var(--color-gray-400);
  border-radius: var(--radius-lg);
  .el-radio-button {
    &:first-child,
    &:last-child {
      .el-radio-button__inner {
        border-radius: var(--radius-lg);
        border-left: 2px solid transparent;
      }
    }
    .el-radio-button__inner {
      @include typo($font-weight: 400);
      & {
        @apply flex items-center;
        height: 32px;
        padding: 0 14px;
        background: transparent;
        border: 2px solid transparent;
        border-radius: var(--radius-lg);
        box-sizing: border-box;
        color: var(--color-white);
      }
    }

    // active style
    &.is-active {
      .el-radio-button__original-radio {
        &:not(:disabled) {
          & + {
            .el-radio-button__inner {
              @include typo($font-weight: 700);
              & {
                background: var(--color-white);
                border-color: var(--color-primary-800);
                box-shadow: none;
                color: var(--form-active-color);
              }
            }
          }
        }
      }
    }
  }
}
