.DS_Store
.vite-ssg-dist
.vite-ssg-temp
*.local
dist
dist-ssr
node_modules
.idea/
*.log
.env.*.local

auto-imports.d.ts
components.d.ts

mock/rest/*/*/*/mock/response.txt
mock/rest/.validation.json
acf-mockoon*
/test-results/
/playwright-report/
/playwright/.cache/
**/mockoon*
test-records
.vscode/settings.json