/* ========================== Page ========================== */
.title {
  @include typo(var(--font-size-36), 700, var(--color-gray-800));

  &--sm {
    @include typo(var(--font-size-22), 600, var(--color-gray-800));
  }
}

.content {
  &-box {
    @extend .box--fff;
    width: 100%;
    margin-top: 30px;
  }

  &-btns {
    @apply flex items-center justify-center;
    margin-top: 30px;
  }
}
